$content-width: 800px;

$golden-precent-L : 61.8%;
$golden-precent-S : 38.2%;


$font-size-small: 13px;
$font-size-regular: 15px;
$font-size-regular-large: 19px; // 18px ?
$font-size-subtitle: 21px;
$font-size-title: 34px; 

$color-font-white: rgba(242, 246, 253, 0.9);

$color-font: rgba(20, 24, 35, 0.8);

$color-red: #FF0000;

$color-blue: #365899;//cornflowerblue;

$color-blue-dark: #4C7BD9;

$color-green: #48E588;



$color-grey-1: #F0F3F5;
$color-grey-3: #E3E3E3;//D4D1D1;
$color-grey-4: #C5C5C5;
$color-grey-5: #ADADAD;//#C3C3C3;

$spacing-XXS: 3px;
$spacing-XS:  5px;
$spacing-S :  10px;
$spacing-MS:  15px;
$spacing-M :  20px;
$spacing-ML:  30px;
$spacing-L :  40px;
$spacing-XL:  50px;

